<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Title</title>
    </head>
    <body>
        <div class="col-md-6 offset-md-3">
            <br>
            <h2 class="text-center">Product Display</h2>
            <br>
            {% if products %}
                {% for product in products %}
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title"> {{ product.name }}</h2>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted">Price: {{ product.price }}</h6>
                            <p class="card-text text-justify">{{ product.description }}</p>
                            <a href="#" class="card-link">Stock: {{ product.stock }}</a>
                            <a href="#" class="card-link">Time: {{ product.created }}</a>
                        </div>
                    </div>
                    <br>
                {% endfor %}

            {% endif %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    </body>
</html>